click
typing
urllib3[secure]
requests[security]
tenacity
jinja2
certifi
pyyaml
toml
cryptography
setuptools
pykwalify
jsonschema
python-dotenv
dynaconf
hvac
phonenumbers
python-dateutil
isbnlib
loguru
typer[all]
httpx
hypothesis
